body{
	background-color : #f5f5f5;
	padding-top      : 40px;
}
.admin-body .container{
	margin-bottom : 0;
}

.top_link{
	display : none;
}
.td-title{
	width : 200px;
}
form{
	width  : 80%;
	margin : 50px auto;
}
form input{
	margin : 10px auto;
}
form input[type='file']{
}

.navbar-nav li a{
	border : 0 !important;
}