/* http://www.screenfeed.fr/blog/personnaliser-les-scrollbars-webkit-0366 */
@charset "UTF-8";
::-webkit-scrollbar {									/* Scrollbars */
	width: 14px;
	height: 14px;
	background: #f8f8f8 url(../img/bg-blog-repeat.png) 0 0 repeat;
}
::-webkit-scrollbar-track-piece {						/* Fond */
	background: #f8f8f8 none;
	border: solid 4px #f8f8f8;
	border-right-width: 8px;
	margin: 4px;
	-webkit-box-shadow: inset 1px 1px 0 0 rgb(137,131,117), inset -1px -1px 0 0 rgb(224,220,210);
}
::-webkit-scrollbar-thumb {								/* Barre */
	border: solid 0 #f8f8f8;
	border-right-width: 4px;
	-webkit-border-radius: 5px;
	-webkit-border-top-right-radius: 9px 5px;
	-webkit-border-bottom-right-radius: 9px 5px;
	-webkit-box-shadow: inset 0 0 0 1px rgb(79,79,79), inset 0 0 0 6px rgb(102,102,102);
}
::-webkit-scrollbar-thumb:hover {						/* Barre */
	-webkit-box-shadow: inset 0 0 0 1px rgb(90,90,90), inset 0 0 0 6px rgb(110,110,110);
}
::-webkit-scrollbar-corner {							/* Coin de la fenêtre */
	background: #f8f8f8 url(../img/bg-blog-repeat.png) 0 0 no-repeat;
}
::-webkit-scrollbar-button {							/* Boutons */
	height: 26px;
	background: url(../img/webkit-arrows-vert.png) 1px 50% no-repeat, #f8f8f8 url(../img/bg-blog-repeat.png) 0 0 no-repeat;
}
::-webkit-scrollbar-button:increment {					/* Bouton incrément */
	background-position: -19px 50%;
}
body ::-webkit-scrollbar {
	background: #f8f8f8 none;
}
body ::-webkit-scrollbar-button:vertical:decrement {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,.2)), color-stop(100%, rgba(255,255,255,.1))) 0 0 repeat, url(../img/webkit-arrows-vert.png) 1px 50% no-repeat, #f8f8f8 url(../img/bg-blog-repeat.png) 0 0 no-repeat;
	background: -webkit-linear-gradient(top, rgba(255,255,255,.1), rgba(255,255,255,.1)) 0 0 repeat, url(../img/webkit-arrows-vert.png) 1px 50% no-repeat, #f8f8f8 url(../img/bg-blog-repeat.png) 0 0 no-repeat;
	background: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.1)) 0 0 repeat, url(../img/webkit-arrows-vert.png) 1px 50% no-repeat, #f8f8f8 url(../img/bg-blog-repeat.png) 0 0 no-repeat;
}
body ::-webkit-scrollbar-button:vertical:increment {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,.2)), color-stop(100%, rgba(255,255,255,.1))) 0 0 repeat, url(../img/webkit-arrows-vert.png) -19px 50% no-repeat, #f8f8f8 url(../img/bg-blog-repeat.png) 0 0 no-repeat;
	background: -webkit-linear-gradient(top, rgba(255,255,255,.1), rgba(255,255,255,.1)) 0 0 repeat, url(../img/webkit-arrows-vert.png) -19px 50% no-repeat, #f8f8f8 url(../img/bg-blog-repeat.png) 0 0 no-repeat;
	background: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.1)) 0 0 repeat, url(../img/webkit-arrows-vert.png) -19px 50% no-repeat, #f8f8f8 url(../img/bg-blog-repeat.png) 0 0 no-repeat;
	-webkit-border-radius: 0 0 6px 0;
}